<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Callbacks</title>
</head>

<body>

    <input type="button" value="haz click" onclick="muetraMensaje()">
    <input id="btn_2" type="button" value="Hazl click 2">
    <input id="btn_3" type="button" value="Hazl click 3">

    <script>
        var muetraMensaje = function() {
            alert("Mesanje 1 mostrado");
        }
        document.getElementById("btn_2").onclick = () => window.alert("mnsje 2"); //Funcion lambda
        let btn_3 = document.getElementsByTagName("input")[2];
        btn_3.addEventListener("click", () => alert("Boton 3"));
        btn_3.addEventListener("click", muetraMensaje);
    </script>


    <script>
        function sumar(x, y) {
            return x + y;
        }
        var restar = function(x, y) {
            return x - y;
        }
        var multiplicar = new Function("x", "y", "{ return x * y; }");

        function sumarArrays(arr_1, arr_2) {
            let arraySuma = [];
            for (let i = 0; i < arr_1.length && i < arr_2.length; i++) {
                arraySuma[i] = arr_1[i] + arr_2[i];
            }
            return arraySuma;
        }
        // eval () no se debe usar, o usar con cuidado

        // switch () se puede complicar fácilmente, y a veces acceso a ese código

        // Mejor con funciones callback, o de retro-llamada, que significa que le pasamos una función como parámetro, y dentro de nuestra función se invoca a esta función callback
        function operarArrays(arr_1, arr_2, funcionCallback) {
            let arrayRes = [];
            for (let i = 0; i < arr_1.length && i < arr_2.length; i++) {
                arrayRes[i] = funcionCallback(arr_1[i], arr_2[i]);
            }
            return arrayRes;
        }

        let arrResult = sumarArrays([2, 3, 4], [10, 15, 20]);
        console.log(`Suma: ${arrResult} `);
        console.log(`Empezamos a usar callbacks `);
        let arrMult = operarArrays([2, 3, 4], [10, 15, 20], multiplicar);
        let arrMult1 = operarArrays([2, 3, 4], [10, 15, 20], restar);
        console.log(`Multiplicacion: ${arrMult1} `);

        let arrDiv = operarArrays([10, 15, 20], [2, 3, 4], function(x, y) {
            return x / y;
        });
        console.log(`ArrDiv : ${arrDiv}`);

        // 
        /* function operarResto(arr1, arr2, functionCallback) {
             let arrayResul = [];
             for (let i = 0; i < arr1.length && i < arr2.length; i++) {
                 arrayResul[i] = funcionCallback(arr1[i], arr2[i]);
             }
             return arrayResul;

         }
         let arrResto = operarResto([31, 25, 20], [2, 3, 4], function(x, y) {
             return x % y;
         });*/

        //Correccion
        //1 Operacion de resto de la division
        let arrRes = operarArrays([10, 16, 23], [2, 3, 4], (x, y) => x % y);

        console.log(`Resto : ${arrRes}`);
        console.log(`Porcentaje : ${operarArrays([10, 16, 23], [2, 3, 4],
            (x, y) => x + y / 100)}`);
    </script>
</body>

</html>