<template>
    <header>
        <div>
            <h1 class="hola">Titulo WEB VUE</h1>
        </div>
        variableOculta = {{variableOculta}} <br>
        nombre = {{ nombre }} <br>
        los dos valores = {{ nombre.toUpperCase() + <br> + variableOculta.toLowerCase()}}
    </header>
</template>

<script>
export default {
    data(){
        return{
            variableOculta: "Variable oculta",
            nombre: "Chino mandarin"
        };
    }
}
</script>

<style>

</style>